<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chomkedin</title>
    <link rel = "icon" type = "image/png" href = "img/logo.png">
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- styles -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header id="home">
      <!-- navbar -->
      <nav id="nav">
        <div class="nav-center">
          <!-- nav header -->
          <div class="nav-header">
            <img src="img/logo.png" class="logo" alt="logo" />
            <button class="nav-toggle">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <!-- links -->
          <div class="links-container">
            <ul class="links">
              <li>
                <a href="#home" class="scroll-link">home</a>
              </li>
              <li>
                <a href="#about" class="scroll-link">about</a>
              </li>
              <li>
                <a href="#services" class="scroll-link">services</a>
              </li>
              <li>
                <a href="#contact" class="scroll-link">contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- banner -->
      <div class="banner">
        <div class="container">
          <h1>Hi. This is</h1>
          <h1>ChomkeDin.com</h1>
        </div>
      </div>
    </header>
    <!-- about -->
    <section id="about" class="section">
      <div class="title">
        <h2>about <span>us</span></h2>
        <div class="content">
          <p>
            We are here to make your occasions more interesting and memorable.<br> 
            We will offer various options to make a perfect surprise plan for your dear one!
          </p>
        </div>
      </div>
    </section>
    <!-- services -->


    <section id="services" class="section">
      <div class="title">
        <h2>our <span>services</span></h2>
      </div>

      <main class="main">
        <div class="contents">
          <ul class="products">

            <li>
              <div class="product">
                <img class="product-image" src="img/a1.jpg" alt="image">
                <div class="product-name">
                  <a href="items.html">Anniversary</a>
                </div>
                <div class="product-desc">anivarsary</div>
                <div class="product-price">taka 1500</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>

            <li>
              <div class="product">
                <img class="product-image" src="img/a1.jpg" alt="image">
                <div class="product-name">
                  <a href="items.html">Anniversary</a>
                </div>
                <div class="product-desc">anivarsary</div>
                <div class="product-price">taka 1500</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>

            <li>
              <div class="product">
                <img class="product-image" src="img/a1.jpg" alt="image">
                <div class="product-name">
                  <a href="items.html">Anniversary</a>
                </div>
                <div class="product-desc">anivarsary</div>
                <div class="product-price">taka 1500</div>
                <div class="product-rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            
          </ul>
        </div>
      </main>

    </section>


    <!-- contact -->
    <section id="contact" class="section">
      <div class="title">
        <h2>Our <span>contact</span></h2>
        
      </div>
    </section>
    <!-- footer -->
    <footer class="section">
      <p>
        copyright &copy; ChomkeDin.com
        <span id="date"></span>. all rights reserved
      </p>
    </footer>
    <a class="scroll-link top-link" href="#home">
      <i class="fas fa-arrow-up"></i>
    </a>
    <!-- javascript -->
    <script>
      //set date
const date = document.getElementById("date");
date.innerHTML = new Date().getFullYear();

//close links
const navToggle = document.querySelector(".nav-toggle");
const linksContainer = document.querySelector(".links-container");
const links = document.querySelector(".links");

navToggle.addEventListener("click", function () {
  const linksHeight = links.getBoundingClientRect().height;
  const containerHeight = linksContainer.getBoundingClientRect().height;
  if (containerHeight === 0) {
    linksContainer.style.height = `${linksHeight}px`;
  } else {
    linksContainer.style.height = 0;
  }
});

//fixed navbar
const navbar = document.getElementById("nav");
const topLink = document.querySelector(".top-link");

window.addEventListener("scroll", function () {
  const scrollHeight = window.pageYOffset;
  const navHeight = navbar.getBoundingClientRect().height;
  if (scrollHeight > navHeight) {
    navbar.classList.add("fixed-nav");
  } else {
    navbar.classList.remove("fixed-nav");
  }

  // setup back to top link

  if (scrollHeight > 500) {
    topLink.classList.add("show-link");
  } else {
    topLink.classList.remove("show-link");
  }
});

// smooth scroll
// select links
const scrollLinks = document.querySelectorAll(".scroll-link");
scrollLinks.forEach((link) => {
  link.addEventListener("click", (e) => {
    // prevent default
    e.preventDefault();
    // navigate to specific spot
    const id = e.currentTarget.getAttribute("href").slice(1);
    const element = document.getElementById(id);

    const navHeight = navbar.getBoundingClientRect().height;
    const containerHeight = linksContainer.getBoundingClientRect().height;
    const fixedNav = navbar.classList.contains("fixed-nav");
    let position = element.offsetTop - navHeight;

    if (!fixedNav) {
      position = position - navHeight;
    }
    if (navHeight > 82) {
      position = position + containerHeight;
    }

    window.scrollTo({
      left: 0,
      top: position,
    });
    // close
    linksContainer.style.height = 0;
  });
});
    </script>
  </body>
</html>
