<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birthday Package</title>
    <link rel = "icon" type = "image/png" href = "img/logo.png">

    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- styles -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="card.css" />
</head>
<body>
    <!-- navbar -->
    <nav id="nav-pack">
      <div class="nav-center">
        <!-- nav header -->
        <div class="nav-header">
         <a href="index.html"><img src="img/logo.png" class="logo" alt="logo" />
          <button class="nav-toggle">
            <i class="fas fa-bars"></i>
          </button>
          </a>
        </div>
        <!-- links -->
      </div>
    </nav>

    <section class="section">
      <div class="title">
        <h2><span>Packages</span></h2>

        <div class="card-container">
          <div class="content">
            
          </div>
        </div>
      </div>
    </section>

    <footer class="section">
      <p>
        copyright &copy; ChomkeDin.com
        <span id="date"></span>. all rights reserved
      </p>
    </footer>
</body>
</html>