.card-container{
    width: 90%;
    margin: auto;
}
.card-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 2em;
    padding: 10px;
}
.card-grid > a{
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    height: 400px;
}
.card{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(30, 191, 21), rgb(57, 187, 198)) repeat scroll 0% 0%;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}
.card h1{
    font-size: 3em;
    color: azure;
}
.card p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: azure;
}
.card:hover{
    text-decoration: none;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(170, 228, 167), rgb(104, 114, 196)) repeat scroll 0% 0%;
}
.card > div{
    margin: 3rem 0 3rem 0;
}
